<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
  </head>
  <body>
    <div>
      {% if request.user.is_authenticated %}
      <h2>{{ request.user.username }}</h2>
      <p><a href="/logout">Logout</a></p>
      {% else %}
      <p><a href="accounts/login">Login</a></p>
      <p><a href="register/">Register</a></p>
      {% endif %}
    </div>
    <div>
      {% for post in object_list %}
      <p><a href="post/{{ post.pk }}">{{ post.title }}</a></p>
      {% endfor %}
    </div>
    <div>
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </div>
  </body>
</html>
