<!DOCTYPE html>
<html>
  <head>
    <title>Create post</title>
  </head>
  <body>
    <div>
      {% if request.user.is_authenticated %}
      <h3>{{ request.user.username }}</h3>
      <p><a href="/logout">Logout</a></p>
      {% else %}
      <p><a href="accounts/login">Login</a></p>
      <p><a href="register/">Register</a></p>
      {% endif %}
    </div>
    <div>
      <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
      </form>
    </div>
  </body>
</html>
